ul.navbar-nav>li>a{
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    
    }
    ul.navbar-nav>li.nav-item.dropdown>.dropdown-menu>a{
    letter-spacing: 0.2rem;
  }

footer{
    padding: 2rem;
    background-color: #47474A ;
    margin-top: 1rem;
    transition: color 0.4s ease-in;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    width: 100%;
}
footer a{
    color: white;
    font-weight: bold;
}
footer a:hover{
    color: orange;
    text-decoration: none;
}
footer p{
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    font-weight: bold;
    color: orange;
}
