
.fut{
    display: inline;   
}


.menu{
    width: 100%;
    background-color: wheat;
}
.slider{
    width: 100%;
   height: 700px;  
}
.carousel-item > img{
    width: 100%;
    height: 690px;
    align-items: center;
    border-radius: 5px;
    
}
.loader{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; 
    background-image: url(../slike/kafemat.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
.loader > img{
    width: 600px;
    height: 600px;
    animation: fade 3s;
    opacity: 0;
}

.loader.hidden{
    animation: fadeOut 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut{
    100%{
        opacity: 0;
        visibility: hidden;
    }

}
@keyframes fade{
    100%{opacity: 1;}
}


#logocs{
    width: 150px;
    height: 150px;
    position: relative;
    margin-left: 5px;
}
#visersajt{
    margin-left: 50%;
    top: 0;
    left: 0;
    transform: translate(-50%,-25%);
    width: 18px;
    height: 17px;
    
}


nav{
    
    background-color: #474747;
    width: 100%;   
    margin-bottom: 5px;
    padding: 0;
    position: fixed;
    
}
nav>div>ul{
    margin-left: 25%;
}
ul.navbar-nav>li>a{
   
letter-spacing: 0.15rem;
text-transform: uppercase;
color: white;
font-weight: bold;
}
.nav-link:hover{
    background-color:rgba(245, 176, 65, 0.7);
    border-radius: 10px;
    margin: 0;
    
    
}


ul.navbar-nav>li.nav-item.dropdown>.dropdown-menu>a{
letter-spacing: 0.1rem;
font-weight: bold;
}
ul.navbar-nav>li.nav-item.dropdown>.dropdown-menu>a:hover{
    background-color:rgba(0, 0, 0, 0.2);
    
    margin: 0;
}
.list-unstyled li{
    padding: 1.5rem;
    font-weight: bold;

}
.list-unstyled li a{
    color: black;
    text-decoration: none;
    font-weight: bold;


}
.list-unstyled li a:hover{
    background: gray;
}
.senka{
    background-color: rgba(0,0,0,0.3);
}
.kartice{
    margin-top: 40px;
    width: 100%;
    margin-left: 7.3%;
    align-items: center;
}
.VKafeTekst{
    width: 90%;
    height: 80%;
    border: solid rgb(65, 35, 6) 5px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.VKafeTekst>p{
    padding-left: 20px;
    text-align: center;
}
.VKafeTekst>h5{
    text-align: center;
}
.tekstIspodInf{
    margin-top: 50px;

    
}
.tekstIspodInf>p{
    text-align: center;
}
.tekstIspodInf>address{
    text-align: center;
}
.dugme{
    
    width: 100%;
    text-align: center;

    
    
}
.logos{
    width: 100%;
    text-align: center;
    

}
.card>div{
    background-color: wheat;
    border: solid #474747 3px;
    width: 100%;
}
.card>div>h5{
    color: #474747;
}
.card>div>a{
    color: #474747;
}

#detaljnije{
    border: solid #474747 3px;
    margin-left: 1px;
}
#hartija>img{
    width: 500px;
    height: 700px;
    
}
#stampa{
    width: 150px;
    height: 150px;
    position: relative;
    margin-left: 590%
}
#pitanja{
    color: black;
}
/*Utisci*/
input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px;
    resize: vertical 
  }
  
  
  input[type=submit] {
    background-color: #474747;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  input[type=submit]:hover {
    background-color: orange;
  }
  
 
  .utisci {
    border-radius: 5px;
    padding: 20px;
  }

